@import "tailwindcss";

@theme {
    --font-sans: "JetBrains Mono", ui-monospace, monospace;
    --font-mono: "JetBrains Mono", ui-monospace, monospace;
    --font-inter: "Inter", system-ui, sans-serif;
}

body {
    font-family: var(--font-sans);
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

html {
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
    /* Chrome, Edge, Safari */
}